.rectangulo{
	/* Rectangle 270 */

position: absolute;
width: 25.9%;
height: 91.6%;
left: 0%;
top: 8.3%;
background: #1C8EE0;
}
.rectangulo2
{
	position: absolute;
width: 25.9%;
height: 91.6%;
left: 74.1%;
top: 8.3%;
background: #1C8EE0;
}

