.contenedor_carrito
{
    margin:20px;
    border:1px solid black;
    box-shadow: 1px 1px 1px #0000002f;
    border-radius: 20px;
    /**/
    position: relative;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: auto;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    background-color: black;
    border-radius: 20px;
    margin: 20px;
}