#redondeado{
    margin-top: 2px;
    border-top-left-radius: 37px;
    border-top-right-radius: 37px;
    border-bottom-left-radius: 37px;
    border-bottom-right-radius: 37px;
    overflow: hidden;
}
.logo{
    width: 20pt;
}
.navli{
    margin-left: 50pt;
}
.jumbotronfm{
    background-color: rgb(48, 193, 82);
    color: white;
}
.cuadrojum{
    padding-left: 25pt;
    padding-top: 15pt;
}
.titulos{
    color: rgb(25, 155, 38);
}
.bordcard{
    border-radius: 20px;
}
.imgcard{
    width: 100%;
}
.cardmargin{
    margin-top: 25pt;
    margin-bottom: 25pt;
}
.btnverde{
    background-color: rgb(111, 217, 80);
    border: rgb(111, 217, 80);
    border-radius: 50px;
}
.scblog{
    background-color: rgb(45, 42, 42);
}
footer {
background-color:#1A1A1A;
height: 50%;
color: white;
padding: 15px;
}

.main1 { 
display:flex;
margin:0 auto;
}

.btn-acceder{
    text-decoration: none;
    color: white;
}
.btn-acceder:hover{
    color: black;
}
.body-g{
    background-color: rgb(40, 80, 36);
    }